<div class="container">
  <table class="table">
    <thead>
      <tr>
        <td>title</td>
        <td>description</td>
        <td>category</td>
        <td>quantity</td>
        <td>expiry</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Item-1</td>
        <td><input type="text" class="form-control" id="description"></td>
        <td><input type="text" class="form-control" id="category"></td>
        <td><input type="text" class="form-control" id="quantity"></td>
        <td><input type="text" class="form-control" id="expiry"></td>
      </tr>
      <!-- <tr *ngFor = "let item in inventoryItem">

          <td>item.title</td>
          <td>item.description</td>
          <td>item.category</td>
          <td>item.quantity</td>
          <td>item.expiry</td>

      </tr> -->
    </tbody>
  </table>
</div>
