
    <h3>Edit Inventory Item:</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="title">Title:</label>
        <input class="form-control" type="text" [(ngModel)]="inventoryItem.title" name="title" required>
      </div>
  
      <div class="form-group row">
        <label for="description">Description:</label>
        <textarea class="form-control" [(ngModel)]="inventoryItem.description" name="description"></textarea>
      </div>
  
      <div class="form-group row">
        <label for="category">Select Category:</label>
        <select class="form-control" [(ngModel)]="inventoryItem.category" name="category">
          <option value="Groceries">Groceries</option>
          <option value="Electronics">Electronics</option>
          <option value="Apparels">Apparels</option>
        </select>
      </div>
  
      <div class="form-group row">
        <label for="quantity">Quantity:</label>
        <input class="form-control" type="text" [(ngModel)]="inventoryItem.quantity" name="quantity" required>
      </div>
  
      <div class="form-group row">
        <label for="expiry">Expiry:</label>
        <input class="form-control" type="text" [(ngModel)]="inventoryItem.expiry" name="expiry" required>
      </div>
  
      <button type="submit" class="btn btn-primary btn-block">Update</button>
  
    </form>
